<div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/paper-design/angular2-logo.png">
        </div>
      </a>
      <a href="#" class="simple-text logo-normal">
        My Gallery
      </a>
    </div>
      <ul class="nav">
        <li class="active">
            <a href="#" >
                <p>Discover</p>
            </a>
        </li>

        <li>
            <a>
                <p>Memberships</p>
            </a>
        </li>

        <li>
            <a>
                <p>My Photos</p>
            </a>
        </li>

        <li routerLinkActive="active">
            <a>
                <p>Portfolio</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a>
                <p>Quests</p>
            </a>
        </li>
      </ul>
  </div>

